section#testimonials(data-block='show')
  header.page-header.page-header--home
    h2.home-title
      span Stefano Ordine
  .testimonials-outer-container
    article#about-me.inside.large-4.columns.effect-fade.in(data-effect='fade', style='transition: all 0.7s ease-in-out;')
      figure.testimonials-img
        img(width='300', height='300', src='/assets/images/about-me.jpeg', alt='testimonial 3')
      p Hello and welcome! I am Stefano and this is my website.
        br
        br
        | You can find here my thoughts, my projects, stuff I'm hacking on and all that I find curious and interesting.
        | What I like the most is experimenting and combining technologies to make new interesting things.
        | I also love writing elegant software and dealing with soldering and electronics.
        br
        br
        | I strongly believe in Open Source Software and Open Hardware You may want to have a look at my 
        != link_to(theme.social.github.url, '<i class=\'fa fa-github\'></i> Github profile', { target: '_blank', title: 'Github Profile' })
        
        | .
        br
        br
        | I had some 
        != link_to(theme.menu.talks.relativePath, 'speaker experiences')
        |  where I enjoyed having the opportunity to spread my knowledge and confront me with other people.
        br
        br
        | At the moment I'm working as a Software Engineer at TheFork a TripAdvisor company, You can have a look at my 
        != link_to(theme.fullResumeRelativePath, 'full resume')
        |  if you want to know more about my working experience.
        br
        br
        | You can drop me a couple of lines by email at 
        a(href='mailto:stefano.ordine@gmail.com') stefano.ordine@gmail.com
        |  if you want to keep in touch.
        br
        br
        | Enjoy! :-)
.services-outer-wrapper
  .services-inner-wrapper
    .small-12.medium-6.large-3.columns.effect-fade.in(data-effect='fade', style='transition: all 0.7s ease-in-out;')
      a.font-icon(href='https://github.com/StefanoOrdine', target='_blank')
        i.fa.fa-4x.fa-github
    .small-12.medium-6.large-3.columns.effect-fade.in(data-effect='fade', style='transition: all 0.7s ease-in-out;')
      a.font-icon(href='https://www.linkedin.com/in/stefano-ordine-59255a112/', target='_blank')
        i.fa.fa-4x.fa-linkedin
    .small-12.medium-6.large-3.columns.effect-fade.in(data-effect='fade', style='transition: all 0.7s ease-in-out;')
      a.font-icon(href='https://plus.google.com/u/0/+StefanoOrdine', target='_blank')
        i.fa.fa-4x.fa-google-plus
    .small-12.medium-6.large-3.columns.effect-fade.in(data-effect='fade', style='transition: all 0.7s ease-in-out;')
      a.font-icon(href='https://www.facebook.com/stefano.ordine', target='_blank')
        i.fa.fa-4x.fa-facebook
