---
page: 
  highlight_menu_key: home
---
!= partial('_partial/homepage_header')
// BEGIN #main
section#main.site-content.row(role='main')
  header.page-header.page-header--home
    h2.home-title
      span I'm Hacking on

  .blog--section-block.clearfix
    #blog.blog-content.blog-content--timeline
      // BEGIN .vertical-timeline
      ul.vertical-timeline
        - site.posts.sort('date', -1).limit(3).each(function (post) {
          != partial('_partial/timeline_post_card', { post: post })
        - })
        li#go-to-blog
          .timeline-icon.border-blue
            != link_to(theme.menu.blog.relativePath, '<i class=\'icon-arrow-right2\'></i>', { title: 'blog' })
      // END /.vertical-timeline
// END /#main
