doctype html
html.no-js(lang='en-US', data-cursor='e798ba')
  head
    // Meta Tags
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    title= config.title
    // Stylesheets
    link(rel='stylesheet', type='text/css', href='/vendor/flatsum/style.css', media='all')
    link(rel='stylesheet', type='text/css', href='/assets/css/main.css', media='all')
    // Javascript
    script(type='text/javascript', src='/vendor/flatsum/assets/js/modernizr.js')
    script(type='text/javascript', src='/vendor/flatsum/assets/js/detection.js')
  body.single-blog.single-blog-timeline.sticky-nav
    // BEGIN #container
    section.container
      != partial('_partial/navbar')
      != body
      != partial('_partial/footer')
    // END /#container
    // Javascripts
    script(type='text/javascript', src='/vendor/flatsum/assets/js/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/vendor/flatsum/assets/js/jquery-migrate.js')
    script(type='text/javascript', src='/vendor/flatsum/assets/js/foundation.min.js')
    script(type='text/javascript', src='/vendor/flatsum/assets/js/plugins.js')
    script(type='text/javascript', src='/vendor/flatsum/assets/js/headroom.js')
    script(type='text/javascript', src='/vendor/flatsum/assets/js/custom.js')
    script(type='text/javascript', src='/vendor/flatsum/assets/js/app.js')
