$color-first: #0d1f2d;
$color-second: #546a7b;
$color-third: #bcc5c7;
$color-fourth: #f7f9f8;
$color-fifth: #2196f3;

$color-highlight: #ff8e25;

$background-color: $color-first;
$blog-post-background-color: $color-fifth;
