#navigation a.nav-toggle.icon-menu {
  margin-top: 1em; }

.navigation li a:hover,
.navigation li a:focus {
  border-top: 8px solid #bcc5c7;
  color: #bcc5c7; }

.navigation li.current-menu-item a {
  border-top: 8px solid #ff8e25;
  color: #ff8e25;
  opacity: none; }

#custom-header {
  margin-top: 8em; }

section#main.site-content.row {
  margin-top: 6em; }

.vertical-timeline:before {
  margin-left: -5px;
  margin-bottom: -3em; }

.vertical-timeline li nav a {
  color: #f7f9f8; }
  .vertical-timeline li nav a:hover {
    color: #ff8e25; }
    .vertical-timeline li nav a:hover i.icon-prev, .vertical-timeline li nav a:hover i.icon-next {
      color: #ff8e25;
      border-color: #ff8e25; }

.vertical-timeline > li .format-image .entry-content {
  padding-top: 0; }
  .vertical-timeline > li .format-image .entry-content a {
    color: #f7f9f8;
    border-bottom: 0;
    text-decoration: none; }
    .vertical-timeline > li .format-image .entry-content a:hover {
      color: #ff8e25;
      border-bottom: 0; }

.vertical-timeline > li .hentry {
  background: #2196f3;
  color: #f7f9f8; }
  .vertical-timeline > li .hentry:after {
    border-right-color: #2196f3; }
  .vertical-timeline > li .hentry a {
    color: #f7f9f8; }
    .vertical-timeline > li .hentry a:hover {
      color: #ff8e25;
      border-bottom: 0; }

.vertical-timeline #go-to-blog {
  margin-bottom: 10em; }
  .vertical-timeline #go-to-blog a {
    color: #0d1f2d; }

section#main .portfolio-items a:hover, section#main .portfolio-items a:focus {
  color: #2196f3; }

section#main .portfolio-items img {
  width: 560px; }

section#main .portfolio-items article {
  margin-bottom: 2em; }

section#main .portfolio--section-block p {
  margin-top: 2em;
  margin-bottom: 2em; }

section#testimonials {
  background-color: #bcc5c7;
  margin-top: 6em; }
  section#testimonials .page-header--home span {
    background-color: #bcc5c7; }
  section#testimonials header {
    margin-top: 0;
    margin-bottom: 0; }
  section#testimonials #about-me {
    width: 100%; }
    section#testimonials #about-me figure {
      width: 200px;
      height: 200px;
      margin-bottom: 2em; }
    section#testimonials #about-me p {
      margin-bottom: auto;
      text-align: justify; }
      section#testimonials #about-me p:after, section#testimonials #about-me p:before {
        content: none; }

.services-outer-wrapper {
  background-color: #546a7b; }

body {
  background-color: #0d1f2d; }
  body .font-icon.font-icon.font-icon:hover {
    background: white;
    color: #0d1f2d;
    border-color: white; }

.border-blue {
  border-color: #2196f3; }
