// BEGIN footer
footer.site-footer
  .copyright
    | &copy; 2016
    a(href='http://www.jono111ca.com/promo/flatsum-html/') FlatSum HTML Vesrion v1.1.0
    | &#x9;           - A HTML Template Designed by jono-111-ca
  |           &#x9;  
  a#scroll-top.scroll-top(title='Scroll To Top', href='#top')
    span Top
    |           &#x9;  &#x9;
    i.icon-circleup
// END /footer
