// BEGIN custom-header
#custom-header
  // BEGIN #tagline
  #tagline.site-tagline.row
    h1 bravelycoding.it
    h2 
      div
        | Hello I am 
        != link_to(theme.menu.about_me.relativePath, 'Stefano Ordine')
      div a Software Engineer with passion for electronics!
  // END /#tagline
// END /#custom-header
