// BEGIN header
header#masthead.site-header--fixed.site-header(role='banner')
  .row
    // BEGIN #logo
    #logo.site-logo
      //- a(href='index.html')
      //-   img(src='/vendor/flatsum/assets/images/site-logo.png', alt='This is the logo')
    // END #logo
    // BEGIN .navbar
    .navbar
      nav#navigation.site-navigation.navigation(role='navigation')
        ul#primary.primary-menu
          - _.forEach(theme.menu, function(menuEntry, menuKey) {
            li(class=page.highlight_menu_key === menuKey ? 'current-menu-item' : undefined)
              != link_to(menuEntry.relativePath, menuEntry.label)
          - })
        a.nav-toggle.icon-menu(href='#', aria-hidden='false')
    // END .navbar
// /END header
