li
  .post-meta
    span.date= date(post.date, ('Do MMM YYYY'))
  .timeline-icon.border-blue
    i(class=post.timeline_icon)
  .format-image.hentry
    article
      h3.blog-title
        != link_to(post.path, post.title)
      .entry-content
        p
          != post.excerpt
        p
          != link_to(post.path, 'Read more...', { class: 'read-more'})
